//grandezze nav
$h_nav: 4rem;
$h_col_nav : 3rem;
$h_img_nav: 2.5rem;

//grandezze container main

$h_row: calc(100vh - 4rem);

//height 100%

$h_100: 100%;

//colori text
$verde: #208380;
$bianco : white;